@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: calc(100vw / 0.85);
  height: calc(100vh / 0.90);
  transform: scale(0.87);
  transform-origin: top left;
  overflow: auto;
}

/* Your custom styles below */

@keyframes typing {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
  }
  
  .typing-indicator {
    position: relative;
  }
  
  .typing-indicator::after {
    content: '...';
    position: absolute;
    right: -12px;
    animation: typing 1.5s infinite;
  }